
body{
	font-family: 'Open Sans', Arial, sans-serif;
	position: relative;
}


.centered_content{
	margin: 0 auto;
	width: 960px;
}

nav ul li, #project_nav ul li{
	display: inline-block;
	float: left;
	list-style: none;
}

nav ul li{
	padding: 10px 20px;
}

nav ul li a, #project_nav ul li a{
	text-decoration: none;
}

nav#project_nav{
	background-color: blue;
	clear:both;
	left: 0;
	position: relative;
}

nav#project_nav ul li img{
	height: 77px;
}
